<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>User add</title>
</head>
<body>

	<p class="result"></p>
	<form action="/" method="post">
		ID:<input type="text" name="name" value=""><br>
		password:<input type="text" name="password" value="">
		<input type="submit" value="ログイン">
	</form>
	
</body>
</html>
