<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>corpus</title>
	</head>
	<body>
		<h1><%= hoho%></h1>
		<form action="/test<%= no %>" method="post">
			<input type="text" name="cure" value="">
			<input type="text" name="name">
			<input type="submit"value="hoge">
	</body>
</html>
